.latestOffer-Card{
    /* width: 100px;
  height: 100px; */
  transition: width 4s, height 4s;
}

.latestOffer-Card:hover{
    width: 300px;
    height: 300px;
    box-shadow: 10px 10px 5px lightblue;
}